body {
    margin: 0;
    height: 100vh;
    width: 100%;
    transition: 0.25s;
}
p {
    margin: 0;
    padding: 4px;
}
a {
    color: black;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
.link_container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    text-align: center;
    color: black;
    font-size: 20pt;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 900;
}
.ball {
    height: 2em;
    width: 2em;
    border-radius: 50%;
    background: black;

    position: absolute;
    left: 50%;
    top: calc(50% + 120px);
    transform: translate(-50%, -50%);

    transition: 0.2s;
}

.loading_ball1,
.loading_ball2 {
    animation: loading_ball 5s infinite ease-in-out alternate-reverse;
}

.loading_ball2 {
    top: calc(50% - 120px);
}
@keyframes loading_ball {
    from {
        margin-left: 7rem;
    }
    to {
        margin-left: -7rem;
    }
}